* {
    margin: -0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 40px;
    margin: auto;
}

.flexs {
    @include flex(center, space-between);
}

button{
    background-color: transparent;
    border: none;
    outline: none;
}
.button{
    padding: 8px 16px;
    gap: 10px;
    width: 125px;
    height: 34px;
    background: #FF753A;
    border-radius: 32px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
}


.titels{
    width: 40%;
    text-align: center;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
    position: relative;
    @include media(768){
        width: 80%;
    }
    &__text{
        // margin-top: 10px;
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
        text-align: center;
        color: #505050;
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -100%);
        width: 80px;
        height: 3px;
        background-color: #AB0433;
        border-radius: 10px;
        // border: 3px solid #AB0433;  
    }
}